export TWITTER_CONSUMER_KEY=
export TWITTER_CONSUMER_SECRET=
export TWITTER_REDIRECT_URI=

export GITHUB_CLIENT_ID=
export GITHUB_CLIENT_SECRET=

export CRYPT_SECRET=hogehoge
export CRYPT_SALT=fugafuga
