@import "../../../node_modules/sanitize.css/sanitize";
@import "./test.css";

html, body {
}

.fa {
  color: #ffffff;
}

#system-nav {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  width: 48px;
  height: 100%;
  background-color: #333;
}

#user-nav {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  width: 48px;
  height: 100%;
  background-color: #333;
}

$goal-width: 250px;
$goal-height: 100px;

#wrap {
  background-color: rgb(228, 228, 228);
  width: calc(200vw - ($goal-width * 2));
  height: calc(200vh - ($goal-height * 2));
  padding-top: $goal-height;
  padding-bottom: $goal-height;
  padding-left: calc(50vw - ($goal-width / 2));
  padding-right: calc(50vw - ($goal-width / 2));
  overflow: scroll;
}

main {
  ul {
    display: flex;
    flex-direction: column;
    width: $goal-width;
    li {
      display: flex;
      flex-direction: row;
      width: $goal-width;
      height: $goal-height;
      section {
        min-width: $goal-width;
        max-width: $goal-width;
        height: $goal-height;
        background-color: rgb(255, 255, 255);
      }
    }
    li:not(.open) {
      display: none;
    }
  }
}


